{% extends 'base.html' %}

{% block title %}
    Editar Editora
{% endblock %}

{% block title_page %}
    Editar Editora
{% endblock %}

{% block content %}
    <form action="" method="post">
        <label for="nome_editora">Nome da editora:</label>
        <input type="text" name="nome_editora" placeholder="nome da editora">
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" placeholder="endereço">
        <button>Enviar</button>
    </form>
{% endblock %}