{% extends 'base.html' %}

{% block title %}
    Editar Editora
{% endblock %}

{% block title_page %}
    Editar Editora
{% endblock %}

{% block content %}
    <form action="{{ url_for('editora.editar_editora', editora_id=editora.ID_editora) }}" method="post">
        <label for="Nome_editora">Nome da editora:</label>
        <input type="text" name="Nome_editora" placeholder="nome da editora", value="{{ editora.Nome_editora }}">
        <label for="Endereco_editora">Endereço:</label>
        <input type="text" name="Endereco_editora" placeholder="endereço", value="{{ editora.Endereco_editora }}">
        <button>Enviar</button>
    </form>
{% endblock %}