{% extends 'base.html' %}

{% block title %}
    Editoras
{% endblock %}

{% block title_page %}
    Editoras
{% endblock %}

{% block content %}
    {% include 'components/messages.html' %}
    <button><a href="{{ url_for('editora.register_editoras') }}">Adicionar editora</a></button>
    {% if editoras %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for editora in editoras %}
                    <tr>
                        <td>{{ editora.Nome_editora }}</td>
                        <td>{{ editora.Endereco_editora }}</td>
                        <td><button><a href="{{ url_for('editora.editar_editora', editora_id=editora.ID_editora) }}">Editar</a></button></td>
                        <td><button><a href="">Excluir</a></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Não há editoras cadastradas</h2>
    {% endif %}
{% endblock %}