{% extends 'base.html' %}

{% block title %}
    Editoras
{% endblock %}

{% block title_page %}
    Editoras
{% endblock %}

{% block content %}
    {% include 'components/messages.html' %}
    <button><a href="{{ url_for('editora.register_editoras') }}">Adicionar editora</a></button>
    {% if editoras %}
        {% for editora in editoras %}
            <div class="editoras">
                <span>{{ editora[1] }}</span>
                <span>{{ editora[2] }}</span>
                <button><a href="{{ url_for('editora.editar_editora', editora_id=editora.ID_editora) }}">Editar</a></button>
                <button><a href="">Excluir</a></button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}