{% extends 'base.html' %}

{% block title %}
    Registrar Editora
{% endblock %}

{% block title_page %}
    Registrar Editora
{% endblock %}

{% block content %}
    {% include 'components/messages.html'   %}
    <form action="{{ url_for('editora.register_editoras') }}" method="post">
        <label for="nome_editora">Nome da editora:</label>
        <input type="text" name="nome_editora" placeholder="nome da editora">
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" placeholder="endereço">
        <button>Enviar</button>
    </form>
{% endblock %}