{% extends 'base.html' %}

{% block title %}
    Registrar Editora
{% endblock %}

{% block title_page %}
    Registrar Editora
{% endblock %}

{% block content %}
    <form action="{{ url_for('editora.register_editoras') }}" method="post">
        <label for="nome_editora">Nome da editora:</label>
        <input type="text" id="nome_editora" name="nome_editora" placeholder="nome da editora" required>
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" placeholder="endereço" required>
        <button>Enviar</button>
    </form>
{% endblock %}