{% extends 'base.html' %}

{% block title %}
    Emprestimos
{% endblock %}

{% block title_page %}
    Emprestimos
{% endblock %}

{% block content %}
    {% if emprestimos %}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Livro</th>
                    <th>Data do empréstimo</th>
                    <th>Data da devolução prevista</th>
                    <th>Data da devolução real</th>
                    <th>Status</th>
                    <th colspan="3">Ações</th>
                </thead>
                <tbody>
                    {% for emprestimo in emprestimos %}
                        <tr>
                            <td>{{emprestimo.ID_emprestimo}}</td>
                            <td>{{emprestimo.Titulo}}</td>
                            <td>{{emprestimo.Data_emprestimo}}</td>
                            <td>{{emprestimo.Data_devolucao_prevista}}</td>
                            <td>{{emprestimo.Data_devolucao_real or 'Ainda não devolvido'}}</td>
                            <td>{{emprestimo.Status_emprestimo}}</td>
                            {% if emprestimo.Status_emprestimo != 'devolvido' %}
                                <td><a href="{{ url_for('emprestimo.devolucao', emprestimo_id=emprestimo.ID_emprestimo) }}"><button>Devolver</button></a></td>
                            {% endif %}
                            <td><a href="{{ url_for('emprestimo.editar_emprestimo', emprestimo_id=emprestimo.ID_emprestimo) }}"><button>Editar</button></a></td>
                            <td><a href=""><button>Excluir</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endif %}
{% endblock %}