{% extends 'base.html' %}

{% block title %}
Livros
{% endblock %}

{% block title_page %}
Livros
{% endblock %}

{% block content %}
    {% if livros_delete %}
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>ISBN</th>
                        <th>Ano de publicação</th>
                        <th>Gênero</th>
                        <th>Editora</th>
                        <th>Resumo</th>
                        <th>Usuário</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros_delete %}
                        <tr>
                            <td>{{ livro.Titulo }}</td>
                            <td>{{ livro.Nome_autor or 'Não há' }} </td>
                            <td>{{ livro.ISBN }}</td>
                            <td>{{ livro.Ano_publicacao }}</td>
                            <td>{{ livro.Nome_genero or 'Não há' }}</td>
                            <td>{{ livro.Nome_editora or 'Não há' }}</td>
                            <td>{{ livro.Resumo or 'Não há' }}</td>
                            <td>{{ livro.Nome_usuario }}</td>
                            <td>{{ livro.Data_delete }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h2>Não há livros Deletados</h2>
    {% endif %}
{% endblock %}