{% extends 'base.html' %}

{% block title %}
    Registrar Livros
{% endblock %}

{% block title_page %}
    Registrar Livros
{% endblock %}

{% block content %}
    <form action="" method="post">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" placeholder="título">
        <label for="ISBN">ISBN:</label>
        <input type="text" name="ISBN" placeholder="ISBN">
        <label for="autor">Autor:</label>
        <select name="autor">
            <!-- <option value=""></option> -->
        </select>
        <label for="ano">Ano de publicação:</label>
        <input type="num" name="ano" placeholder="ano">
        <label for="genero">Gênero:</label>
        <select name="genero">
            <!-- <option value=""></option> -->
        </select>
        <label for="editora">Editora:</label>
        <select name="editora">
            <!-- <option value=""></option> -->
        </select>
        <label for="qnt_disponivel">Quantidade disponível:</label>
        <input type="number" name="qnt_disponivel" placeholder="quantidade">
        <label for="resumo">Resumo:</label>
        <textarea name="resumo" placeholder="Escreva algo..."></textarea>
        <button>Enviar</button>
    </form>
{% endblock %}