@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--cor3);
}

:root {
    --cor1: #D9C8B4;
    --cor2: #8C7961;
    --cor3: #593E10;
    --cor4: #8E7756;
    --font: 'Noto Serif'
}

body {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 15px 25px;
    color: var(--cor3);
    background-color: hsl(from var(--cor1) h s calc(l + 30));
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

ul > li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding: 3rem 6rem;
    gap: 1rem;
    background-color: hsl(from var(--cor2) h s calc(l + 30));
}

form {
    display: flex;
    flex-direction: column;
    width: 28rem;
    padding: 2rem;
    gap: 1rem;
    background-color: hsl(from var(--cor1) h s calc(l + 30));
}

input, select {
    outline: none;
    padding-inline: 1rem;
    aspect-ratio: 20 / 2;
    font-size: 1rem;
    color: black;
    background-color: hsl(from var(--cor1) h 0 calc(l + 15));
}

textarea {
    outline: none;
    padding: .5rem;
    aspect-ratio: 20 / 2;
    font-size: 1rem;
    background-color: hsl(from var(--cor1) h 0 calc(l + 15));
    color: black;
    resize: none;
}

.table {
    /* width: 100%; */
    overflow-x: auto;
}

table {
    border: 1px solid var(--cor3);
    border-collapse: collapse;
    text-align: center;
    background-color: hsl(from var(--cor1) h s calc(l + 30));
    width: 100%;
    min-width: 500px;
}

.table::-webkit-scrollbar {
    width: 10px;              
    height: 10px;
}

.table::-webkit-scrollbar-track {
    background: hsl(from var(--cor1) h s calc(l + 40)); 
    border-radius: 10px;
}

.table::-webkit-scrollbar-thumb {
    background-color: var(--cor3);
    border-radius: 10px;
    border: 2px solid hsl(from var(--cor1) h s calc(l + 40)); 
}

.table::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor2);
}



tr, td, th {
    border: 1px solid var(--cor3);
    padding: 5px 10px;
    color: black;
}

th {
    color: var(--cor3);
}

button {
    padding: .25rem .5rem;
    border: 1px solid var(--cor3);
    background-color: hsl(from var(--cor1) h s calc(l + 30));
    aspect-ratio: 20 / 2;
    
    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px 0 var(--cor3);
    }

    &:active {
        transform: none;
        box-shadow: none;
    }
}

.perfil {
    background-color: #f7e5d0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.perfil > h2 {
    margin-bottom: 25px;
}

.perfil > p {
    align-self: self-start;
}

.perfil > div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--cor1);
}

.perfil a:has(button) {
    width: 100%;

    & > button {
        width: 100%;
    }
}

#success, #error {
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 0.5rem;
    margin: 1rem auto;
    text-align: center;
    font-family: var(--font);
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#success {
    background-color: hsl(from var(--cor1) h s calc(l + 25));
    border: 1px solid var(--cor3);
    color: var(--cor3);
}

#error {
    background-color: #e6b0aa; 
    border: 1px solid #943126;
    color: #4a0c00;
}


@media (max-width: 768px) {
    header {
        height: 100%;
    }
    nav {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
    }

    nav h1 {
        margin-bottom: 10px;
        text-align: center;
    }

    nav ul {
        flex-wrap: wrap; 
        justify-content: center;
        gap: 10px;
    }

    nav ul a {
        font-size: 0.95rem;
    }
    main {
        padding: 1em 2em;
    }
    .table {
        width: 100%;
    }

    form {
        max-width: 300px;
    }
}