{% extends 'base.html' %}

{% block title %}
Gêneros
{% endblock %}

{% block title_page %}
Gêneros
{% endblock %}

{% block content %}
    <a href="{{ url_for('genero.register_generos') }}">
        <button>Adicionar gênero</button>
    </a>
    {% if generos %}
        <table>
            <thead>
                <tr>
                    <th>Gênero</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for genero in generos %}
                <tr>
                    <td>{{ genero.Nome_genero }}</td>
                    <td>
                        <a href="{{ url_for('genero.editar_genero', genero_id=genero.ID_genero) }}">
                            <button>
                                Editar
                            </button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('genero.deletar_genero', genero_id=genero.ID_genero) }}" onclick="return confirm('Você tem certeza que deseja excluir o gênero {{ genero.Nome_genero }}')">
                            <button>
                                Excluir
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Não há generos cadastrados</h2>
    {% endif %}
{% endblock %}