{% extends 'base.html' %}

{% block title %}
    Gêneros
{% endblock %}

{% block title_page %}
    Gêneros
{% endblock %}

{% block content %}
    <button><a href="{{ url_for('genero.register_generos') }}">Adicionar gênero</a></button>
    {% if generos %}
        {% for genero in generos %}
            <div class="generos">
                <span>{{ genero[1] }}</span>
                <button><a href="{{ url_for('genero.editar_genero', genero_id=genero.ID_genero) }}">Editar</a></button>
                <button><a href="">Excluir</a></button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}