<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav>
            <h1>
                {% block title_page %}
                    
                {% endblock %}
            </h1>
            <ul>
                <li><a href="{{ url_for('index') }}">Página Inicial</a></li>
                <li><a href="{{ url_for('auth_bp.register') }}">Cadastro</a></li>
                <li><a href="{{ url_for('auth_bp.login') }}">Login</a></li>
                <li><a href="{{ url_for('livro.register_livros') }}">Livros</a></li>
                <li><a href="{{ url_for('genero.register_generos') }}">Gênero</a></li>
                <li><a href="">Autores</a></li>
                <li><a href="">Emprestimos</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth_bp.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
            
        {% endblock %}
    </main>
</body>
</html>