{% extends 'base.html' %}

{% block title %}
    Editar Perfil
{% endblock %}

{% block title_page %}
    Editar Perfil
{% endblock %}

{% block content %}
    <form action="{{ url_for('perfil.editar_perfil', user_id=user.ID_usuario) }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="nome", value="{{ user.Nome_usuario }}">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="email", value="{{ user.Email }}">
        <label for="tel">Telefone:</label>
        <input type="tel" name="tel" placeholder="telefone", value="{{ user.Numero_telefone }}">
        <button>Enviar</button>
    </form>
    
{% endblock %}