{% extends 'base.html' %}

{% block title %}
    Registrar Autor
{% endblock %}

{% block title_page %}
    Registrar Autor
{% endblock %}

{% block content %}
    <form action="{{ url_for('autor.register_autores') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="nome" required>
        <label for="nacionalidade">Nacionalidade:</label>
        <input type="text" id="nacionalidade" name="nacionalidade" placeholder="nacionalidade" required>
        <label for="nascimento">Nascimento:</label>
        <input type="date" id="nascimento" name="nascimento" placeholder="nascimento" required>
        <label for="biografia">Biografia:</label>
        <textarea id="biografia" name="biografia" placeholder="Escreva algo..." required></textarea>
        <button>Enviar</button>
    </form>
{% endblock %}